<ion-view title="Bio" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="bio-heading1" style="color:#F45600;text-align:center;" class=" ">Snoopy 1950 -</h3>
        <p id="bio-markdown1" style="color:#000000;" class=" righteous">Snoopy is Charlie Brown's pet beagle in the comic strip Peanuts by Charles M. Schulz. He can also be found in Charlie Brown movies and television, like The Peanuts Movie. The original drawings of Snoopy were inspired by Spike, one of Schulz's
            childhood dogs.</p>
        <p id="bio-markdown3" style="color:#000000;" class=" ">Snoopy is a loyal, innocent, imaginative and good-natured beagle who is prone to imagining fantasy lives, including being an author, a college student known as "Joe Cool" and a World War I flying ace. He is perhaps best known in this last alternate
            persona, wearing an aviator's helmet and goggles and a scarf while carrying a swagger stick.</p>
        <p id="bio-markdown2" style="color:#000000;" class=" ">Snoopy's doghouse defies physics, and is shown to be bigger on the inside than the outside. It is also his "airplane."</p>
        <button id="bio-button1" class=" button button-positive  button-block red righteous">Tap me!</button>
    </ion-content>
</ion-view>