<ion-view title="Gallery">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/9FsYLA5MQ0GQ4464qcRi_97.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/HPZqimMQQcXxW72hfM2i_f09.jpg" width="100%" height="auto">
        </div>
        <div style="text-align:center;">
            <img src="img/NeuVEJD9TbmyKgaP8E9M_snoop.png" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>