<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/5dCMYc3FQti5FN5x6fQ7_snoop.png) no-repeat center;" class="has-header"></br>
        <div class="list card">
            <center><div class="item item-divider item-dark">mySnoopy</div></center>
            <div class="item item-body item-energized">
                <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                    <iframe src="https://www.youtube.com/embed/VYAlLcT5Lfk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
            </div>
            <div class="item item-divider item-dark">The Movie</div>
        </div>
    </ion-content>
</ion-view>
